
    <div class="container">
        <div class="row">
            <main class="col-md-12">
                <h1>Hello and Welcome!</h1>
                <p>Thank you for visiting my About Page. Here, you can learn more about who I am and my academic pursuits.</p>
                <h2>About the Developer</h2>
                <p>I am Dea Guxholli, a student enrolled in the BTT program at Seneca Polytechnic. My student ID is 145699237.</p>
                <p>I am a driven professional with 1.5 years of experience in Customer Service, blending academic knowledge and practical skills...</p>
            </main>
        </div>
    </div>
